.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-list {
    padding-left: 20px;
}

.blog-list li {
    margin-bottom: 8px;
}

.blog-list a {
    color: #1a0dab;              /* softer blue (Google-style) */
    text-decoration: none;
}

.blog-list a:hover {
    text-decoration: underline;
}